<h1> Tracks </h1>

<% @tracks.each do |track| %> 
  <div class="track"> 
    <h3> <a href="/tracks/<%= track.id %>"> <%= track.title %> </a><small> <%= track.artist %> </small> </h3>
    <p> 
      Link: <%= track.url %> <br/>
      <a href="<% track.url %>"> Link</a> <br/> 
      Posted At: <%= track.created_at %> <br/>
      Updated At: <%= track.updated_at %>
    </p>
  </div>
  
<% end %> 

<div> 
  <a href="/tracks/new"> Post a new song </a>
</div>